
.align-center {
    align-self: center;
}

.center-align {
    text-align: center !important;
}

.pd-10 {
    padding: 10px !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}