.fundraiser-wrap {
    width: 100%;
    height: 100vh;

    header {
        height: 145px;
        opacity: 1;
        background: transparent linear-gradient(180deg, #144B5E -70%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;

    //     .inp-wrap {
    //         justify-content: end;
    //         padding: 2% 5%;

    //         .inp {
    //             background: #7B7B7B 0% 0% no-repeat padding-box;
    //             border-radius: 20px;
    //             opacity: 0.75;
    //             padding: 0px 0px;
    //             margin: 0 1%;
    //         }
    //         .MuiOutlinedInput-root {
    //             position: relative;
    //             border-radius: 20px;
    //         }
    //         .MuiFormLabel-root {
    //             text-align: center;
    //             font: normal normal normal 18px/20px PT Sans Pro;
    //             letter-spacing: 0px;
    //             color: #FFFFFF;
    //             opacity: 1;
    //         }
    //     }
    }

    .logo-image {
        left: 20px;
        top: 15px;

        @media (max-width: 768px) {
            width: 125px;
            height: 70px;
            top: 38px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    .search-btn {
        text-transform: capitalize;
        margin-right: 3rem;
        color: #144B5E;
        font-size: 1rem;
        padding: 0.5rem 4rem;
        border-radius: 5px;

        @media (max-width: 768px) { 
            padding: 0.25rem 1.5rem;
            font-size: 0.9rem;
            margin-right: 0.5rem;
        }
    }

    .fundraiser-section {
        margin-left: 90px;
        margin-right: 90px;
        @media (max-width: 768px) {
            margin-left: 15px;
            margin-right: 15px;
        }
        .school-info-wrap {

            h2 {
                font: normal normal bold 34px/46px PT Sans Pro;
                letter-spacing: 0px;
                color: #144B5E;
            }

            img {
                width: 100%;
                height: 600px;

                @media (max-width: 600px) {
                    height: fit-content;
                }
            }
        }

        .collection-info-wrap {
            padding: 0px 60px;
            @media (max-width: 600px) {
                padding: 0px 10px;
            }
            h2 {
                font: normal normal bold 40px/52px PT Sans Pro;
                letter-spacing: 0px;
                color: #144B5E;
                visibility: hidden;
                @media (max-width: 768px) {
                    display: none;
                }
            }

            .amount {
                text-align: left;
                font-size: 60px;

                .green {
                    font: normal normal bold 70px PT Sans Pro;
                    letter-spacing: 0px;
                    color: #1CBE20;

                }
            }

            .raised-asof {
                text-align: left;
                font: normal normal normal 20px/26px PT Sans Pro;
                letter-spacing: 0px;
                color: #717171;
                margin: 0px;
            }

            .tobe-raised {
                right: 48px;
                top: 0;
                font: normal normal bold 16px/20px;
                letter-spacing: 0px;
                color: #144B5E;
                margin: 0px;
            }

            .progress-bar {
                max-width: 667px;
                height: 17px;
                border-radius: 41px;
                border: 1px solid #707070;
                &.MuiLinearProgress-colorPrimary {
                    background-color: #F0F0F0;
                }

                .MuiLinearProgress-barColorPrimary {
                    background-color: #07BE1A;
                }
            }
            .sub-text {
                font-size: 24px;
                letter-spacing: 0px;
                color: #144B5E;
        
            }
            .social-share-icons {
                .MuiSvgIcon-root {
                    font-size: 2.5rem;
                    margin-left: 12px;
                    cursor: pointer;
                }
            
                a {
                    padding-left: 33px;

                    @media (max-width: 1500px) {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.about-wrap {
    p {
        font: normal normal normal 36px/47px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .about {
        height: fit-content;
        padding: 0 38px;
        scroll-behavior: auto;
        margin-top: -35px;
        background: #F7F9FA 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 1;

        p {
            text-align: left;
            font: normal normal normal 32px/42px PT Sans Pro;
            font-size: 1.25rem;
            letter-spacing: 0px;
            color: #144B5E;
            opacity: 1;
            text-align: justify;

            @media (max-width: 600px) { 
                font-size: 1.1rem;
            }
        }

        @media (max-width: 600px) {
            height: fit-content;
            padding: 0 1rem;
        }
    }
}

.table-wrap {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

    .thead {
        .tr {
            background: #144B5E 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            opacity: 1;
        
            .th {
                border: 1px solid #144B5E;
                text-align: center;
                font: normal normal normal 30px/39px PT Sans Pro;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }

    .tbody {
        .tr {
            background: #F7F9FA 0% 0% no-repeat padding-box;
            opacity: 1;

            .td {
                border: 1px solid #144B5E;
                text-align: left;
                font: normal normal normal 20px/24px Segoe UI;
                letter-spacing: 0px;
                color: #144B5E;
                opacity: 1;
            }
        }
    }
}

.ques-wrap {
    margin: 0px 33px;

    h4 {
        margin-left: 2%;
        text-align: left;
        font: normal normal bold 36px/47px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .acc-sum {
        background: #B3C0C5 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .accor {
            text-align: left;
            font: normal normal bold 24px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }

    .acc-det {
        background: #144B5E0D 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .acc-par {
            text-align: left;
            font: normal normal normal 24px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }
}