@import 'common.scss';
@import 'fundraiser.scss';
@import 'shipping.scss';
@import 'new.scss';
@import 'dashboard.scss';
@import 'news-and-stories.scss';


@font-face {
    font-family: 'PT Sans Pro'; // 400
    src: url('/font/PTSansProXBd.OTF') format('opentype');
    font-weight: 700;
}

// @font-face {
//     font-family: 'Roboto'; // 500
//     src: url('/font/Roboto-Medium.ttf') format('truetype');
//     font-weight: 500;
// }
@font-face {
    font-family: 'PT Sans Pro'; // 700
    src: url('/font/PTSansProRegular.OTF') format('opentype');
    font-weight: 400;
}

body {
    margin: 0 auto;
}


.home-wrap {

    .main-banner {
        background: url('/banner-bg.webp'), url('/banner-bg-original.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;

        .logo-wrap {
            padding-left: 5%;
            padding-top: 2%;
    
            @media (max-width: 596px) {
                #logo {
                    width: 100px;
                }
            }
        }
    }

    .banner-wrap {
        padding-top: 5%;
        margin-left: 25%;
        width: 50%;
        // padding-bottom: 10%;

        @media (max-width: 596px) {
            // padding-top: 30%;
            width: 100%;
            margin: 0%;
        }


        h1 {
            margin-right: 0px;
            margin-top: 0px;
            text-align: center;
            font: normal normal bold 36px/70px PT Sans Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 2ch;
            // @media (max-width: 1176px) {
            //     padding-top: 140px;
            // }
            @media (max-width: 596px) {
                // padding-top: 50px;
                font: normal normal bold 36px PT Sans Pro;
                color: #144B5E;
            
            }
        }

        .logo-image {
            left: 20px;
            top: 50px;
            @media (max-width: 768px) {
                width: 125px;
                height: 70px;
                top: 38px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
            }
        }

        .search-box-wrap {
            margin: auto;
            max-width: 470px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 43px;
            opacity: 0.8;
            padding: 78px 50px 50px;
            @media (max-width: 768px) {
                padding: 58px 20px 30px;
                border-radius: 23px;
            }
        }
        .MuiFormControl-root {
            background: rgba(123, 123, 123, 0.75) no-repeat padding-box;
        }
        .MuiTextField-root,
        input {
            border-radius: 17px;
            font: normal normal normal 28px/32px PT Sans Pro;
            width: 100%;

            .MuiInputLabel-outlined {
                font: normal normal normal 28px/32px PT Sans Pro;
                letter-spacing: 0px;
                color: #FFFFFF;

                &.Mui-focused,
                &.MuiFormLabel-filled {
                    font-size: 1.25rem;
                    top: 4px;
                    // top: 6px;
                }

            @media (max-width: 768px) {
                font: normal normal normal 28px/32px PT Sans Pro;
            
            }
            }
        }

        .MuiOutlinedInput-root {
            color: #FFFFFF;
            border-radius: 17px;
            height: 74px;
            font: normal normal normal 28px/32px PT Sans Pro;
            letter-spacing: 0px;

            .MuiOutlinedInput-notchedOutline {
                border-color: white !important;
            }

            .PrivateNotchedOutline-root-1 {
                top: -6px;
            }
        }

        .MuiAutocomplete-root {

            margin: 10px auto;
            width: 100%;
            .MuiFormControl-root {
                background: rgba(123, 123, 123, 0.75) no-repeat padding-box;
            }
            .MuiSvgIcon-root {
                fill: white;
            }

        }
    }

    .contact-us {
        .MuiTextField-root {
            background: rgba(123, 123, 123, 0.75) no-repeat padding-box;
            border-radius: 17px;
            // opacity: 0.75;
        }
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1201px) and (max-width: 1300px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1300px) and (max-width: 1350px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1351px) and (max-width: 1500px) {
    .home-wrap .main-banner {
       min-height: 100vh ;
    }
}
@media (min-width: 1501px) and (max-width: 1650px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1651px) and (max-width: 1750px) {
    .home-wrap .main-banner {
        min-height: 100vh ;
    }
}
@media (min-width: 1751px) and (max-width: 1920px) {
    .home-wrap .main-banner {
        background-size: cover;
        min-height: 100vh ;
    }
}
@media (min-width: 1921px) {
    .home-wrap .main-banner {
        background-size: cover;
        min-height: 1100px ;
    }
}
.primary-button {
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #144B5E 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 0.75;
    width: 100%;
    max-width: 300px;
    height: 68px;
    &.dark {
        background: #144B5E 0% 0% no-repeat padding-box;
        max-width: none;
        opacity: 1;
    }

    &.MuiButtonBase-root {
        margin: 14px 0px;
        background-color: #144B5E !important;
    }

    .MuiButton-label {
        font: normal normal bold 28px/32px PT Sans Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
    }

    &.MuiButton-contained {
        border-radius: 7px;
        box-shadow: none !important;
    }
}
.form-input-wrap {
    input {
        color: #144B5E;
    }

    background-color: #fff;
    margin: 0px;
}

.donor-info-form {
    .form-input-wrap {
        padding: 10px;
    }
    

    .MuiFormControl-root {

        min-width: 380px;

        @media (max-width: 600px) {
            width: 100%;
            min-width: 0px;
        }
    }

    .sub-text {
        font: normal normal normal 24 Segoe UI;
        letter-spacing: 0px;
        color: #707070;

    }
}
.public-wrap {
    min-height: 878px;
}

.gifting-slider {
    .slide1 {
        text-align: center;
        text-align: -webkit-center !important;
        h4 {
            @media (max-width: 600px) {
                font: normal normal bold 20px/31px PT Sans Pro;
                letter-spacing: 0px;
            }
        }
    }
}
.item {
    margin-left: 33px;
    margin-right: 33px;

    img {
        width: 100%;
        // height: 180px;
        @media (max-width:600)
        {
            width: 100%;
        }
   
    }
    .slide1 {
        position: relative;

        background-image: linear-gradient(to bottom right, #FFFFFF, #8cbdb3);
        // background: url('/Carosel-01.png') 0% 0% no-repeat padding-box;
        img {
            @media (max-width: 600px) {
                height: 180px;
            }
        }
        .text {
            padding-top: 5%;
            padding-left: 5%;
            width: 60%;
            position: absolute;
            left: 1%;
            top: -15px;
            font: normal normal normal 24px/31px PT Sans Pro;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
            @media (max-width: 600px) {
                width: 70%;
                padding-top: 0%;
                padding-left: 0%;
                h1{
                    font-size: 12px;
                    width: 100%;
                }
                p{ font-size: 10px;
                width: 95%;
                height: 100%;
                overflow: hidden;
          line-height: 2ch;
          position: relative;
          top: -12px;
              }
               
            }
        }
    }
    .slide2 {
        position: relative;

        background-image: linear-gradient(to bottom right, #FFFFFF, #8cbdb3);
        // background: url('/Carosel-02.png') 0% 0% no-repeat padding-box;
        img {
            @media (max-width: 600px) {
                height: 180px;
            }
        }

        .text {
            padding-top: 5%;
            padding-left: 5%;
            width: 60%;
            position: absolute;
            left: 2%;
            top: 2%;
            font: normal normal normal 24px/31px PT Sans Pro;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
            @media (max-width: 600px) {
                padding-top: 0%;
            padding-left: 0%;
                h1{
                    font-size: 12px;
                    width: 100%;
                }
                p{ font-size: 10px;
                width: 70%;
                height: 100%;
                overflow: hidden;
          line-height: 2ch;
          position: relative;
          top: -15px;
              }
               


            }
        }
    }
}

@media (max-width: 400px) {
    .item {
        margin-top: -150px;
    }
}

@media (max-width: 600px) {
    .item {
        margin-top: -100px;
    }
}

.step-wrap {
    margin: 0px 33px;

    h4 {
        text-align: center;
        font: normal normal bold 36px/70px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .time-wrap {
        margin: 0% 5%;

        .MuiTimelineDot-root {
            box-shadow: none;
            background: none;
        }
        .icon-2 {
            margin-left: 15px;
        }
        .content {
            padding-top: 5%;
            padding-left: 10%;
            margin-bottom: 40%;
        }
        .time-head {
            text-align: left;
            font: normal normal bold 24px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
        .time-body {
            text-align: left;
            font: normal normal normal 16px/20px PT Sans Pro;
            letter-spacing: 0px;
            color: #505050;
        }
        .MuiTimelineItem-missingOppositeContent:before {
            content: none;
        }
    }

    @media (max-width: 600px) {
        margin: 0px 10px;

    h4 {
        text-align: center;
        font: normal normal bold 36px/70px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .time-wrap {
        margin: 0px 10px;
        .step-icon {
            width: 80px;
        }

        .MuiTimelineDot-root {
            box-shadow: none;
            background: none;
        }
        .icon-2 {
            margin-left: 0px;
        }
        .content {
            padding-top: 5%;
            padding-left: 5%;
            margin-bottom: 10%;
        }
        .time-head {
            text-align: left;
            font: normal normal bold 20px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
        .time-body {
            text-align: left;
            font: normal normal normal 12px/20px PT Sans Pro;
            letter-spacing: 0px;
            color: #505050;
        }
        .MuiTimelineItem-missingOppositeContent:before {
            content: none;
        }
    }
    }

    .phone {
        img {
            margin: 15% 0 15% 10%;
            width: 70%;
            height: 70%;

            @media (max-width: 600px) {
                width: 50%;
                height: fit-content;
                margin: 0 25%;
            }
        }
    }
}

.ques-wrap {
    // margin-left: 33px;
    // margin-right: 33px;
    // margin-top: -200px;

    h4 {
        margin-left: 2%;
        text-align: left;
        font: normal normal bold 36px/47px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .acc-sum {
        background: #B3C0C5 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .accor {
            text-align: left;
            font: normal normal bold 24px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }

    .acc-det {
        background: #144B5E0D 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .acc-par {
            text-align: left;
            font: normal normal normal 24px/31px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }
}

.cont-wrap {
    margin: 0px 33px;

    h4 {
        text-align: center;
        font: normal normal bold 36px/47px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .form1-wrap {
        background: #144B5E3B no-repeat padding-box;
        opacity: 1;
        text-align: center;
        padding: 5% 0;

        .MuiOutlinedInput-root {
            border-radius: 15px;
        }

        .id1 {
            width: 60%;
            margin-bottom: 2%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #144B5E;
            border-radius: 15px;
            opacity: 1;

            @media (max-width:600px){
                width: 90%;
            }
        }

        .id2 {
            width: 60%;
            margin-bottom: 4%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #144B5E;
            border-radius: 15px;
            opacity: 1;

            @media (max-width:600px){
                width: 90%;
            }
        
        }

        .btn1 {
            width: 20%;
            padding: 0.5rem 0;
            background: #144B5E 0% 0% no-repeat padding-box;
            border-radius: 11px;
            opacity: 1;

            p {
                margin: 5% 0;
                text-align: center;
                font: normal normal bold 18px/25px PT Sans Pro;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
            @media (max-width:600px){
                width: 60%;
            }
        }
    }
}

.foot-wrap {
    margin-top: 5%;
    // padding-left: 20%;
    bottom: 0;
    background: #C8D5DA 0% 0% no-repeat padding-box;

    p {
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        font: normal normal normal 28px/36px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
    }

    @media (max-width: 596px) {
        padding-left: 0%;
    }
}