.home-wrap {
    background: transparent url('./../img/background.png') no-repeat padding-box;
    background-size: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;

    .banner-wrap {
        margin-left: 25%;
        width: 50%;
        padding-bottom: 10%;

        // .logo-wrap {
        //     background: url('./../img/logo.png');
        // }

        h1 {
            margin-right: 0px;
            margin-top: 0px;
            text-align: center;
            font: normal normal bold 71px/124px PT Sans Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
        
        .form-wrap {
            text-align: center;
            margin-left: 10%;
            padding: 5% 0;
            width: 80%;
            height: 100%;
            background: #FFFFFF no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 43px;
            opacity: 0.8;

            .id {
                margin-top: 5%;
                width: 80%;
                height: 5%;
                background: #7B7B7B 0% 0% no-repeat padding-box;
                border-radius: 20px;
            }

            .MuiInputBase-root {
                height: 5%;
                text-align: left;
                font: normal normal normal 28px/32px PT Sans Pro;
                letter-spacing: 0px;
                border-radius: 20px;
                color: #FFFFFF;
            }

            .btn {
                margin-top: 5%;
                padding: 0 0;
                width: 50%;
                height: 5%;
                background: #144B5E 0% 0% no-repeat padding-box;
                border-radius: 15px;

                p {
                    margin: 5% 0;
                    text-align: center;
                    width: 100%;
                    font: normal normal bold 28px/32px PT Sans Pro;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

// .item {
//     background: #144B5E3B no-repeat padding-box;
//     opacity: 1;
// }

.step-wrap {
    p {
        text-align: center;
        font: normal normal bold 71px/92px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .time-wrap {
        margin: 0 5%;

        .MuiTimelineDot-root {
            background: transparent url('./../img/icon-1.svg');
        }
        .time-head {
            text-align: left;
            font: normal normal bold 42px/55px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
        .time-body {
            text-align: left;
            font: normal normal normal 28px/37px PT Sans Pro;
            letter-spacing: 0px;
            color: #505050;
        }
        .MuiTimelineItem-missingOppositeContent:before {
            content: none;
        }
    }
}

// .video-wrap {
//     p {
//         text-align: center;
//         font: normal normal bold 50px/65px PT Sans Pro;
//         letter-spacing: 0px;
//         color: #144B5E;
//         opacity: 1;
//     }
// }

// .tm-wrap {
//     p {
//         text-align: left;
//         font: normal normal bold 50px/65px PT Sans Pro;
//         letter-spacing: 0px;
//         color: #144B5E;
//         opacity: 1;
//     }
// }

.ques-wrap {
    p {
        text-align: left;
        font: normal normal bold 50px/65px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .acc-sum {
        background: #B3C0C5 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .accor {
            text-align: left;
            font: normal normal bold 42px/55px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }

    .acc-det {
        background: #144B5E0D 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;

        .acc-par {
            text-align: left;
            font: normal normal normal 32px/42px PT Sans Pro;
            letter-spacing: 0px;
            color: #144B5E;
        }
    }
}

.cont-wrap {
    p {
        text-align: center;
        font: normal normal bold 50px/65px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
        opacity: 1;
    }

    .form1-wrap {
        background: #144B5E3B no-repeat padding-box;
        opacity: 1;
        text-align: center;
        padding: 5% 0;

        .id1 {
            width: 60%;
            margin-bottom: 2%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #144B5E;
            border-radius: 15px;
            opacity: 1;
        }

        .id2 {
            width: 60%;
            padding: 2% 0;
            margin-bottom: 4%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #144B5E;
            border-radius: 15px;
            opacity: 1;
        }

        .btn1 {
            width: 20%;
            padding: 0 0;
            background: #144B5E 0% 0% no-repeat padding-box;
            border-radius: 11px;
            opacity: 1;

            p {
                margin: 5% 0;
                text-align: center;
                font: normal normal bold 32px/36px PT Sans Pro;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
}

.foot-wrap {
    margin-top: 5%;
    padding-left: 20%;
    background: #C8D5DA 0% 0% no-repeat padding-box;

    p {
        text-align: center;
        font: normal normal normal 32px/42px PT Sans Pro;
        letter-spacing: 0px;
        color: #144B5E;
    }
}